<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ myFood }} 식당 추천</title>
</head>
<body>
    <a href={{ url_for('home') }}><img src="{{url_for('static', filename = 'images/logo.png')}}" width ="200" height="200" alt="logo" border="0"></a>
    <form action="/storelist" method="POST"><!--action 속성에는 이동할 웹페이지 주소 기입-->
            <select name="food" style="width:300px; height:50px; margin-left:100px; font-size: 2em;">
                {% if engw == "sunny" %}
                <option value="">다른음식선택</option>
                <option value="팥빙수">팥빙수</option>
                <option value="수박화채">수박화채</option>
                <option value="냉면">냉면</option>
                <option value="초계국수">초계국수</option>
                <option value="메밀소바">메밀소바</option>
                <option value="콩국수">콩국수</option>
                <option value="냉면">냉면</option>
                <option value="비빔국수">비빔국수</option>
                <option value="삼계탕">삼계탕</option>
            {% elif engw == "cloudy" %}
                <option value="">다른음식선택</option>
                <option value="칼국수">칼국수</option>
                <option value="짬뽕">짬뽕</option>
                <option value="수제비">수제비</option>
                <option value="매운탕">매운탕</option>
                <option value="국밥">국밥</option>
            {% elif engw == "rainy" %}
                <option value="">다른음식선택</option>
                <option value="파전">파전</option>
                <option value="막걸리">막걸리</option>
                <option value="칼국수">칼국수</option>
                <option value="삼겹살">삼겹살</option>
                <option value="짬뽕">짬뽕</option>
            {% else %}
                <option value="">다른음식선택</option>
                <option value="우동">우동</option>
                <option value="분식">분식</option>
                <option value="칼국수">칼국수</option>
                <option value="전골">전골</option>
                <option value="샤브샤브">샤브샤브</option>
                <option value="만두와호빵">만두</option>
                <option value="수제비">수제비</option>
                <option value="찌개">찌개</option>
            {% endif %}
            </select>
        <input type="hidden" name="myGu" value={{myGu}}>
        <input type="hidden" name="myDong" value ={{myDong}} >
        <input type="submit" value="이게 먹고 싶어요!">
    </form>
    <p>
        {{myGu}} {{myDong}}에 {{myFood}} 음식을 파는 음식점은 아래와 같아요!
    </p>
    <div style="overflow:auto; width:1500px; height:500px; background-color:#CF0; margin-left:200px; font-size: 2em;">
            <!--key로는 구, 동, 음식종류-->
            
        <div style="border:1px solid black;padding:3%; margin: 3%"> 
                가게이름 : {{name[0]}}<br>별점정보: {{rating[0]}}, URL: {{link[0]}}
                <form action="/review.html" method="POST">
                    <input type="hidden" name="storename" value={{name[0]}}>
                    <input type="submit" value="리뷰보기">
                </form>
            </div>
            <div style="border:1px solid black;padding:3%; margin: 3%">
                가게이름 : {{name[1]}}<br>별점정보: {{rating[1]}}, URL: {{link[1]}}
                <form action="/review.html" method="POST">
                    <input type="hidden" name="storename" value={{name[1]}}>
                    <input type="submit" value="리뷰보기">
                </form>
            </div>
            <div style="border:1px solid black;padding:3%; margin: 3%">
                가게이름 : {{name[2]}}<br>별점정보: {{rating[2]}}, URL: {{link[2]}}
                <form action="/review.html" method="POST">
                    <input type="hidden" name="storename" value={{name[2]}}>
                    <input type="submit" value="리뷰보기">
                </form>
            </div>
            
            
    </div>
</body>
</html>